* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--white-bg);
    background-image: url("/public/assets/img/bg01.png");
    background-position: center center;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: auto;
    width: 90%;
    max-width: 1000px;
}

ul {
    list-style: none;
}